<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block header_title %}{% endblock %}</title>
    <link href="/static/bootstrap/css/travel.css" rel="stylesheet">
</head>
<body>
<!--<table border ="2" valign="middle" width = "100" style="background-image:url(/static/bootstrap/css/images/title.jpg);
    background-repeat:no-repeat; background-position: center; background-color: white;"> -->
<table border="0">
    <td align="center"><img src="/static/bootstrap/css/images/title.jpg" height="120" width="600"></td>
</table>

<form method="post">
    <table>
        {% csrf_token %}
        {% for field in form %}
        <td>
            {{ field.errors }}
            <p>{{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                {{ field.help_text|safe }}</p>
            {% endif %}
        </td>
        {% endfor %}
        <td align="center"><input type="submit" align="left" value="Submit"/></td>
    </table>
</form>
<br>

<div class="row">
    <div class="col-md-6 col-md=-offset-3">
        {% block table %}
        {% endblock %}
    </div>
</div>

</body>

</html>