<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block header_title %}{% endblock %}</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md=-offset-3">
            <!--            <div class="text-center">-->
            <div>
                <h1>{% block header_head %}{% endblock %}</h1>
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                    <td>
                        <div>
                            {{ field.errors }}
                            <p>{{ field.label_tag }}</p>
                            {{ field }}
                            {% if field.help_text %}
                            <p>{{ field.help_text|safe }}</p>
                            {% endif %}
                        </div>
                    </td>
                    {% endfor %}
                    <br>

                    <input type="submit" value="Submit"/>
                    <br>
                    <br>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md=-offset-3">
            {% block table %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>